<div
  class="bg-blue-500 flex items-center justify-center min-h-screen text-white"
>
  <div class="text-center">
    <h1 class="text-4xl md:text-6xl font-bold mb-6">
      Bienvenue dans l'aventure
    </h1>
    <p class="text-lg md:text-xl mb-8">
      Découvrez nos quiz et testez vos connaissances
    </p>
    <button
      (click)="startGame()"
      class="px-6 py-3 bg-white text-blue-600 font-semibold rounded-full text-lg shadow-md transition hover:bg-gray-200"
    >
      Commencer à jouer
    </button>
  </div>
</div>
